@import url('https://fonts.googleapis.com/css?family=Yantramanav');
/*PARALLAX*/

header {
    height: 4em;
    background: #845;
}
.parallax {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
}
.parallax h1 {
    text-align: center;
    margin: 0;
    font-size: 3rem;
    letter-spacing: .2em;
    color: white;
    /*background-color: black;*/
    
    padding: 10rem 0;
    mix-blend-mode: screen;
}
.parallax pre {
    background-color: white;
    white-space: pre-wrap;
    color: black;
    font-size: 1.5rem;
    width: 100%;
    margin: auto;
}
.parallax p {
    color: #131314;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 100px;
    background-color: white;
}
.parallax:nth-of-type(1) {
    background: url(https://github.com/creindle/portfolio/blob/master/assets/image1.png?raw=true);
    /*background: url(/assets/image1.png);*/
    
    background-color: black;
}
.parallax:nth-of-type(1) pre {
    padding: 50px;
    text-align: center;
}
.parallax:nth-of-type(2) {
    background: url(https://github.com/creindle/portfolio/blob/master/assets/taurus-reverse.png?raw=true);
    /*background: url(/assets/taurus-reverse.png);*/
    
    background-color: #2E4053;
}
.parallax:nth-of-type(3) {
    background: url(https://github.com/creindle/portfolio/blob/master/assets/parallax-3-leo.png?raw=true);
    /*background: url(/assets/parallax-3-leo.png);*/
    
    background-color: black;
}
.parallax:nth-of-type(3) pre {
    padding: 30px;
    color: black;
    background-color: white;
}
.parallax:nth-of-type(4) {
    background: url(https://github.com/creindle/portfolio/blob/master/assets/parallax-4.png?raw=true);
    /*background: url(/assets/parallax-4.png);*/
    
    background-color: #2E4053;
}
.parallax:nth-of-type(4) pre {
    padding: 40px;
    text-align: center;
}
/* Swiper */

.swiper-container {
    width: 100%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.gallery-top {
    height: 80%;
    width: 100%;
}
.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}
/* Nav Bar */
/* VARIABLES */
/* BASE */

html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    overflow: hidden;
    *zoom: 1;
    margin: 0 20px;
}
.site-content {
    padding-top: 66px;
}
/* HEADER */

.header {
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    height: 66px;
    line-height: 66px;
    color: #fff;
    background-color: #3f51b5;
}
.header__logo {
    font-weight: 700;
    padding: 0 25px;
    float: left;
}
/* MENU */

.menu {
    float: left;
}
.menu a {
    padding: 0 10px;
}
.menu a:hover {
    color: #c5cae9;
}
/* RESPONSIVE */

@media only screen and (max-width: 768px) {
    .parallax pre {
        font-size: 10px;
        padding: 5px;
    }
}
/* Social Media Icons */

.fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.main_h {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
    .parallax pre {
        font-size: 10px;
        left: 0px;
    }
    .main_h {
        padding-top: 25px;
    }
}
.open-nav {
    max-height: 400px !important;
    overflow: visible;
    background-color: red;
}
.open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}
.sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
}
.logo {
    width: 50px;
    font-size: 25px;
    color: #8f8f8f;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0;
    line-height: 1;
    margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
    .parallax pre {
        font-size: 10px;
        left: 0px;
    }
    .logo {
        float: none;
    }
}
nav {
    float: right;
    width: 60%;
}
@media only screen and (max-width: 766px) {
    .parallax pre {
        font-size: 10px;
        left: 0px;
    }
    nav {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.93);
        margin-top: 8px;
    }
}
nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
}
@media only screen and (max-width: 766px) {
    .parallax pre {
        font-size: 10px;
        left: 0px;
    }
    nav ul {
        padding-top: 10px;
        margin-bottom: 22px;
        float: left;
        text-align: center;
        width: 90%;
    }
}
nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
}
@media only screen and (max-width: 766px) {
    .parallax pre {
        font-size: 10px;
        left: 0px;
    }
    nav ul li {
        width: 100%;
        /*padding: 7px 0;*/
        
        margin: 0;
    }
}
nav ul a {
    color: #888888;
    text-transform: uppercase;
    font-size: 12px;
}
.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
    .parallax pre {
        font-size: 10px;
        left: 0px;
    }
    .mobile-toggle {
        display: block;
    }
}
.mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
}
.row {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
}
* {
    box-sizing: border-box;
}
body {
    color: #8f8f8f;
    background: white;
    font-family: "Cardo", serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}
p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
}
/*.content {
  padding: 50px 2% 250px;
}*/

.hero {
    position: relative;
    background: url(http://www.philippefercha.com/cd/toggle-menu-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 110px;
    min-height: 500px;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
}
.hero h1 {
    font-size: 50px;
    line-height: 1.3;
}
.hero h1 span {
    font-size: 25px;
    color: #e8f380;
    border-bottom: 2px solid #e8f380;
    padding-bottom: 12px;
    line-height: 3;
}
.mouse {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid #e8f380;
    position: absolute;
    bottom: 40px;
    position: absolute;
    left: 50%;
    margin-left: -26px;
}
.mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: #e8f380;
    border: 1px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
}
@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}
@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}
@media only screen and (max-width: 766px) {
    html,
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 1em;
        line-height: 1.4;
        position: relative;
        height: 75%;
        margin: 0;
        padding: 0;
        background-color: black;
    }
    .parallax:nth-of-type(1) {
        background: url(https://github.com/creindle/portfolio/blob/master/assets/image1-small.png?raw=true);
        /*background: url(/assets/image1.png);*/
        
        background-color: black;
    }
    .parallax:nth-of-type(1) pre {
        white-space: pre-wrap;
        font-size: 9px;
        padding: 5px;
        text-align: center;
    }
    .parallax:nth-of-type(2) {
        background: url(https://github.com/creindle/portfolio/blob/master/assets/taurus-reverse-small.png?raw=true);
        /*background: url(/assets/image1.png);*/
        
        background-color: #2E4053;
    }
    .parallax:nth-of-type(3) {
        background: url(https://github.com/creindle/portfolio/blob/master/assets/parallax-3-leo-small.png?raw=true);
        /*background: url(/assets/image1.png);*/
        
        background-color: black;
    }
    .parallax:nth-of-type(3) pre {
        white-space: pre-wrap;
        font-size: 9px;
        padding: 5px;
        text-align: left;
    }
    .parallax:nth-of-type(4) {
        background: url(https://github.com/creindle/portfolio/blob/master/assets/parallax-4-small.png?raw=true);
        /*background: url(/assets/image1.png);*/
        
        background-color: #2E4053;
    }
    .parallax:nth-of-type(4) pre {
        white-space: pre-wrap;
        font-size: 9px;
        padding: 10px;
        text-align: center;
    }
}